/* COMMON */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400px;  /*글자두께*/
  line-height: 1.4;  /*행간*/
  font-family: 'Nanum Gothic', sans-serif;
}

img{
  display: block; /*이미지 블럭화*/
}

/* HEADER */
header{
  background-color: royalblue;
}
header .inner{
  width: 1100px;
  height: 120px;
  margin: 0 auto; 
  background-color: orange;
  position: relative;
}
header .logo{
  height: 75px;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  /* 가운데 로고를 보내고싶으면 너비가 정확하게 명시되어있고,
  양끝지점 left,right :0;을 각각 써주고 margin:auto;를 써주면된다. */
}